@import '../lernverlauf.scss';

.continue{
  bottom: 1.25%;
  margin-bottom: 5px;
  position: absolute;
  width: 92%;
  left: 5%;
  right: 5%;
  z-index: 30;
}


img {
  width: 40%;
}

.innerGrid {
  height: 100%;
  position: absolute;
  // margin-left: 20%;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerGridImageList {
  height: 100%;
  position: absolute;
  // margin-left: 20%;
  top: 50%;
  width: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

