<ion-header>
    <ion-toolbar>
        <ion-title style="width: 50%; margin-top: 5px">{{exercise.number}}: {{exercise.title}}</ion-title>
        <ion-title style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">{{headline}}</ion-title>
        <ion-button *ngIf="!tutorialEnd" [hidden]="!debugMode.checkDebugMode()" color="light"  (click)="startExercise()"  size="medium" style=" position: absolute; top: 20%; right: 20%; margin-right: 1%"> Skip Tutorial</ion-button>
        <ion-button [hidden]="!debugMode.checkDebugMode()" color="light"  (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
        <ion-icon (click)="redoButton()" *ngIf="currentItem < 1" name="refresh"
                  style="position: absolute; font-size: 40px; top: 15%; right: 0%; margin-right: 1%"></ion-icon>
       
    </ion-toolbar>
</ion-header>
<ion-content class="exerciseScreenBorder" *ngIf="tutorialCount <= 2">
    <div class="center">
        <mat-grid-list class="grid" cols="2" rowHeight="fit">

            <!--------------------------------------------Left: Vorgabescreen-------------------------------------------------------------->

            <mat-grid-tile>
                <mat-grid-list class="innerGrid" cols="1" rowHeight="fit">
                    <mat-grid-tile>
                        <img [src]="tutorialItems[0].images[0]" style="width: 75%;">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <!--------------------------------------------Right: Aufgabescreen-------------------------------------------------------------->

            <mat-grid-tile *ngIf="tutorialCount >= 2">
                <mat-grid-list class="innerGridImageList" cols="1" rows="3" rowHeight="fit">
                    <!-- class "borderCorrected" für korrekte Auswahl, borderSelected für Auswahl des Kindes -->
                    <mat-grid-tile [ngClass]="checkBoxColor[0]">
                        <img (click)="selectTutorialAnswer(0)" [src]="tutorialItems[0].images[1]" style="width: 75%;">
                    </mat-grid-tile>
                    <mat-grid-tile [ngClass]="checkBoxColor[1]">
                        <img (click)="selectTutorialAnswer(1)" [src]="tutorialItems[0].images[2]" style="width: 75%;">
                    </mat-grid-tile>
                    <mat-grid-tile [ngClass]="checkBoxColor[2]">
                        <img (click)="selectTutorialAnswer(2)" [src]="tutorialItems[0].images[3]" style="width: 75%;">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
<div class="continue">
    <app-next-page-button [hidden]="!navigateToNextPage" (Clicked)="startExercise()" ></app-next-page-button>
</div>
</ion-content>

<ion-content class="childScreenBorder" *ngIf="tutorialCount===3">
    <div class="center">
        <mat-grid-list class="grid" cols="2" rowHeight="fit">

            <!--------------------------------------------Left: Vorgabescreen-------------------------------------------------------------->

            <mat-grid-tile>
                <mat-grid-list class="innerGrid" cols="1" rows="1" rowHeight="fit">
                    <mat-grid-tile>
                        <ion-button style="width: 15%; height: 35%" class="imgage" (click)="playAudio(1)" color="warning"
                                    style="z-index: 1; position: absolute; height: 7%; width: 10%;left: 15%; bottom: 30%">
                            <ion-icon [name]="getPlayIcon()" style="font-size: 250%"></ion-icon>
                        </ion-button>
                        <img [src]="exerciseItems[currentItem].images[0]" style="width: 75%;">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <!--------------------------------------------Right: Aufgabescreen-------------------------------------------------------------->

            <mat-grid-tile>
                <mat-grid-list class="innerGridImageList" cols="1" rows="3" rowHeight="fit">
                    <mat-grid-tile [ngClass]="checkBoxColor[0]" >
                        <img (click)="selectAnswer(0)" [src]="exerciseItems[currentItem].images[1]" style="width: 75%;"/>
                    </mat-grid-tile>
                    <mat-grid-tile [ngClass]="checkBoxColor[1]">
                        <img (click)="selectAnswer(1)" [src]="exerciseItems[currentItem].images[2]" style="width: 75%;"/>
                    </mat-grid-tile>
                    <mat-grid-tile [ngClass]="checkBoxColor[2]" >

                        <img (click)="selectAnswer(2)" [src]="exerciseItems[currentItem].images[3]" style="width: 75%;"/>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <ion-button size="medium" (click)="playAudio(2)" color="warning"
        style="z-index: 35; position: absolute; right: 31%; bottom: 6%">
        <ion-icon [name]="getPlayIcon()"></ion-icon>
    </ion-button>
    <div class="continue">
        <app-next-page-button [hidden]="!navigateToNextPage" (Clicked)="nextItem()" ></app-next-page-button>
    </div>
</ion-content>

