<ion-header>
    <ion-toolbar>
        <ion-title style="width: 50%; margin-top: 5px">{{exercise.number}}: {{exercise.title}}</ion-title>
        <ion-title *ngIf="tutorialCount < tutorialEndCount" style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">Übung</ion-title>
        <ion-title *ngIf="tutorialCount === tutorialEndCount" style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">Durchgang {{wordCount}}</ion-title>
        <ion-icon *ngIf="tutorialCount < tutorialEndCount" (click)="redoButton()" name="refresh" size="large" style=" position: absolute; top: 20%; right: 0%; margin-right: 1%"></ion-icon>
 
        <ion-button *ngIf="tutorialCount < tutorialEndCount" [hidden]="!debugMode.checkDebugMode()" color="light"  (click)="skipTutorial()"  size="medium" style=" position: absolute; top: 20%; right: 20%; margin-right: 1%"> Skip Tutorial</ion-button>
        <ion-button [hidden]="!debugMode.checkDebugMode()" color="light"  (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
    </ion-toolbar>
</ion-header>


<ion-content [ngClass]="{'exerciseScreenBorder': tutorialCount < tutorialEndCount, 'childScreenBorder': tutorialCount >= tutorialEndCount}">
    <div class="center">
        <mat-grid-list class="grid" cols="9"  rowHeight="fit">


            <mat-grid-tile colspan="4" rowspan="4">
                <ion-button *ngIf="tutorialCount >= tutorialEndCount" (click)="playExerciseAudio(1)" color="warning" size="medium"
                            style="z-index:2; position: absolute; bottom: 1%; left: 3%;">
                    <ion-icon [name]="getPlayIcon()"></ion-icon>
                </ion-button>
                <img style="z-index:1; position: relative;" width="90%" height="auto" [src]="mainWord.image">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="6">
               <!-- <ion-button style="float: right" color="success" size="large" [hidden]='!togglePause' *ngIf="tutorialCount < 6" (click)="pause()">Weiter</ion-button>-->
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="4">
                <ion-button *ngIf="tutorialCount >= tutorialEndCount" (click)="playExerciseAudio(0)" color="warning" size="medium"
                            style="z-index:2; position: absolute; bottom: 1%; left: 3%;">
                    <ion-icon [name]="getPlayIcon()"></ion-icon>
                </ion-button>
                <img style="z-index:1; position: relative;" width="90%" height="auto" *ngIf="tutorialCount >= 3 "  [src]="compareWords[wordCount]?.image">
            </mat-grid-tile>

            <mat-grid-tile rowspan="2" colspan="2">
                <img style="width: 90%; " *ngIf="tutorialCount >= 1"
                    [src]="getStoneImage(mainWord, 0)">
            </mat-grid-tile>
            <mat-grid-tile rowspan="2" colspan="2">
                <img style="width: 90%;" *ngIf="tutorialCount >= 2"
                    [src]="getStoneImage(mainWord, 1)">
            </mat-grid-tile>

            <mat-grid-tile rowspan="2" colspan="2">
                <img style="width: 90%;" *ngIf="tutorialCount >= 4 && !disableTut"
                    [src]="getStoneImage(compareWords[0], 0)">
                <ion-button *ngIf="elapsedSeconds >= 85 || tutorialCount === this.tutorialEndCount" [disabled]="elapsedSeconds <= 93 && tutorialCount < tutorialEndCount" (click)="compare(false)"
                    style="font-size: 250%" size="large" color="danger">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </mat-grid-tile>

            <mat-grid-tile rowspan="2" colspan="2">
                <img style="width: 90%" *ngIf="tutorialCount >= 5 && !disableTut"
                    [src]="getStoneImage(compareWords[0], 1)">
                <ion-button *ngIf="elapsedSeconds >= 88 || tutorialCount >= tutorialEndCount" [disabled]="tutorialCount < tutorialEndCount" (click)="compare(true)" style="font-size: 250%"  size="large">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="continue">
        <app-next-page-button [hidden]='!togglePause' *ngIf="tutorialCount < 6" (click)="pause()"></app-next-page-button>
    </div>
</ion-content>

