<ion-content class="examinerScreenBorder" padding>
  <h1 *ngIf="examinerNameFocus === false && noteFocus === false" >Datenblatt {{firstname}} {{lastname}}</h1>
  <mat-grid-list cols="2" rowHeight="fit" [ngClass]="{'grid': true, 'examinerFocus': examinerNameFocus, 'noteFocus': noteFocus}">
      <mat-grid-tile>
          <mat-form-field class="input-col-width">
              <input [(ngModel)]="code" matInput placeholder="ID">
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field class="input-col-width">
              <input [(ngModel)]="className" matInput placeholder="Klasse">
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field class="input-col-width">
              <mat-label>Bildungseinrichtung</mat-label>
              <mat-select [(ngModel)]="currentSchool">
                  <mat-option *ngFor="let school of dataService.schools" [value]="school.name">
                      {{school.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile rowspan="2">
          <mat-form-field class="input-col-width" style="height: 100%;">
              <textarea (focus)="noteFocus = true" (blur)="noteFocus = false" 
                          [(ngModel)]="note"
                          matInput
                          placeholder="Allgemeine Notiz"
                          rows="10" style="background: white; width: 100%; height: 100%;"
                          >
              </textarea>
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=2>
          <mat-form-field style="position: absolute;left:15%;right:15%;width:70% ">
              <input [(ngModel)]="examinerName" matInput placeholder="Vor- und Nachname des Untersuchers" (focus)="examinerNameFocus = true" (blur)="examinerNameFocus = false">
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field class="input-col-width">
              <input [matDatepicker]="dateTodayPicker" [value]="dateTodayControl.value" 
                      (dateChange) = "setNewTestdate($event)" disabled
                     matInput placeholder="Untersuchungsdatum" [(ngModel)]="testdate">
              <mat-datepicker-toggle [for]="dateTodayPicker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dateTodayPicker disabled="false"></mat-datepicker>
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <!-- What does  !school.includes('null') do? removed it because it caused errors-->
        <ion-button [disabled]="!(
        code.length !== 0 &&
        examinerName.length !== 0 &&
        currentSchool.length !== 0 &&
        className.length !== 0)" (click)="onContinue()" color="success" size="large">Weiter</ion-button>
      </mat-grid-tile>
  </mat-grid-list>
</ion-content>
