<ion-header>
  <ion-toolbar>
    <ion-title style="width: 70%;margin-top: 5px">Kapitel {{exercise.number}}: {{exercise.title}}</ion-title>
    <ion-title style="color: darkred;font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">Bitte lesen Sie die
      Items dem Kind laut vor! Markiere richtige Aufgaben.
    </ion-title>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="examinerScreenBorder" padding>

  <app-note [exercise]=exercise [isCardActive]=isCardActive></app-note>


  <div class="center">
    <mat-grid-list [cols]="1" id="grid" rowHeight="fit">

            <span *ngFor="let example of currentExamples,let i = index">
                <mat-grid-tile>
                    <ion-button (click)="setAsDone(i)" [color]="currentExamplesColors[i]"
                                class="buttonCharacters"><h1>{{currentExamples[i]}}</h1></ion-button>
                </mat-grid-tile>
            </span>
    </mat-grid-list>
  </div>
  <div class="continue">
    <app-last-page-button (Clicked)="lastPage()"
                          [Visible]="counter > 1 && highestCount === counter"></app-last-page-button>
    <app-next-page-button (Clicked)="nextPage()"></app-next-page-button>
  </div>
</ion-content>
