<ion-header>
  <ion-toolbar>
      <ion-title style="width: 50%">{{this.data.result?.results[this.data.result.results.length - 1].title}} Abgeschlossen</ion-title>
      <ion-icon (click)="changeCardActive()" name="create" style="position: absolute; top: 15%; right: 0%; margin-right: 1% ;font-size: 200%; z-index: 1"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<div class="center" *ngIf="!isCardActive">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="2" style="font-size: 130%;">
      Fertig!<br>
      Jetzt folgt das dritte Spiel.

    </mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
  </mat-grid-list>
</div>

  <div class="continue">
    <ion-button size="small" color="dark" style="float:right;" (click)="nextPage()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>
