<ion-header>
  <ion-toolbar *ngIf="isInstruction() == false">
    <ion-title style="width: 50%;margin-top: 5px">Wortebene</ion-title>
    <ion-title style="font-size: 100%;width: 100%;margin-top: 5px; margin-bottom: 5px">
      Welches Wort passt zu welchem Bild? Klicke auf ein Wort und ziehe es zu dem richtigen Bild.
    </ion-title>
    <div *ngIf="false" style=" position: absolute; top: 20%; right: 0%; margin-right: 1%; font-size: 150%" >
      {{getRemainingTime()}}
      </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="center" *ngIf="words && words[wordCount]">
    
    <mat-grid-list class="grid" cols="26" rowHeight="fit">
      <div *ngIf="isInstruction() == true">
        <mat-grid-tile colspan="26" style="font-size: 130%;">
          <span [ngSwitch]="textCounter">
          <p *ngSwitchCase="0">
            Hallo.<br>
            Wir machen heute 4 Spiele zum Lesen. <br>
            Bist du bereit? Dann geht’s los!
          </p>
          <p *ngSwitchCase="1">
            Wir machen zuerst ein Spiel mit Bildern und Wörtern.<br>
            Auf den nächsten Seiten siehst du gleich 3 Bilder und 6 Wörter.<br>
            Klicke auf ein Wort und ziehe es zu dem richtigen Bild.<br>
            3 Wörter bleiben dabei übrig.<br>
            <br>
            Probiere es einfach. Es kommen jetzt zwei Beispiele. <br>
            Wenn du dir bei einem Bild nicht sicher bist, nimm das Wort, das deiner Meinung nach am besten zu dem Bild passt.<br>
            Wenn du Hilfe brauchst, frag noch einmal nach.
          </p>
          <p *ngSwitchCase="4">
            Toll gemacht. Wenn du dich jetzt noch nicht auskennst, dann frag bitte noch einmal nach.<br>
            Keine Fragen mehr? Dann kannst du gleich loslegen.<br>
            Du hast jetzt {{timeLim}} Minuten Zeit für die nächsten Seiten. Wenn die Zeit vorbei ist, dann hört das Spiel automatisch auf.  
          </p>
          <p *ngSwitchDefault>
          
          </p>
          </span>
        </mat-grid-tile>

      </div>  
      <div *ngIf="isInstruction() == false">

        <mat-grid-tile 
          colspan="26" rowspan="1" >  
              <ion-list class="toolbox" cdkDropList #question="cdkDropList"
                id="toolbox"
                [cdkDropListData]="words[wordCount].words"
                [cdkDropListConnectedTo]="[answer1,answer2,answer3]"
                (cdkDropListDropped)="drop($event, 0)">            
                <div *ngFor="let word of words[wordCount].words; let i = index"
                  (cdkDragStarted)="cdkDragStarted($event, word)" 
                  cdkDrag                   
                  style="font-size: 130%; padding-left: 10px; padding-right: 10px;">
                    {{word}}
                </div>
              </ion-list>             
        </mat-grid-tile>
        
        <mat-grid-tile colspan="8" rowspan="8" style="border: solid 2px black; border-radius: 10px;">
          <img  style="width: 70%;" [src]="words[wordCount].image1"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="9">
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="8" style="border: solid 2px black; border-radius: 10px;">
          <img  style="width: 70%;" [src]="words[wordCount].image2"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="9">
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="8" style="border: solid 2px black; border-radius: 10px;">
          <img  style="width: 70%;" [src]="words[wordCount].image3"/>
        </mat-grid-tile>
        
        <mat-grid-tile 
        [ngClass]="answerBoxColor[0]"
          [colspan]="8" [rowspan]="1"  >
            <ion-list  style="background-color:rgba(0, 0, 0, 0);"
              id="answer1"
              cdkDropList #answer1="cdkDropList" 
              [cdkDropListData]="firstAnswersBox"
              [cdkDropListConnectedTo]="[question,answer2,answer3]"
              (cdkDropListDropped)="drop($event, 1)">
                <div cdkDrag> 
                  
                  <div *ngIf="firstAnswersBox.length === 1" style="font-size: 130%;">
                    {{firstAnswersBox[0]}}
                  </div>
                  <div *ngIf="firstAnswersBox.length === 0">
                    <h1 style="opacity: 0%">Item Placeholder</h1>
                  </div>
                </div>
            </ion-list>
        </mat-grid-tile>

        <mat-grid-tile  
        [ngClass]="answerBoxColor[1]"
        [colspan]="8" [rowspan]="1">
            <ion-list 
              style="background-color:rgba(0, 0, 0, 0);"
              cdkDropList #answer2="cdkDropList" 
              id="answer2"
              [cdkDropListData]="secondAnswersBox"
              [cdkDropListConnectedTo]="[question,answer1,answer3]"
              (cdkDropListDropped)="drop($event, 2)">
              <div  cdkDrag>
                <div *ngIf="secondAnswersBox.length === 1" style="font-size: 130%;">
                  {{secondAnswersBox[0]}}
                </div>
                <div *ngIf="secondAnswersBox.length === 0">
                  <h1 style="opacity: 0%">Item Placeholder</h1>
                </div>      
              </div>
            </ion-list>
        </mat-grid-tile>  

        <mat-grid-tile  
        [ngClass]="answerBoxColor[2]"
        [colspan]="8" [rowspan]="1">
            <ion-list 
              style="background-color:rgba(0, 0, 0, 0);"
              cdkDropList #answer3="cdkDropList" 
              id="answer3"
              [cdkDropListData]="thirdAnswersBox"
              [cdkDropListConnectedTo]="[question,answer1,answer2]"
              (cdkDropListDropped)="drop($event, 3)">
              <div  cdkDrag>
                <div *ngIf="thirdAnswersBox.length === 1" style="font-size: 130%;">
                  {{thirdAnswersBox[0]}}
                </div>
                <div *ngIf="thirdAnswersBox.length === 0">
                  <h1 style="opacity: 0%">Item Placeholder</h1>
                </div>
              </div>
            </ion-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="1">
        </mat-grid-tile>
      </div>  
    </mat-grid-list>
  </div>
  <div class="continue">
    <ion-button size="small" style="float:right;" color="dark" (click)="checkAnswer()" [disabled]="nextDisabled == true">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>
