<ion-header>
  <ion-toolbar>
    <ion-title style="width: 50%; margin-top: 5px">Kapitel {{exercise.number}}: {{exercise.title}}</ion-title>
    <!-- <ion-title style="color: darkred;font-size: 75%;font-weight: bold;width: 50%;margin-top: 5px;">Legen Sie die
      Buchstabentafel vor!
    </ion-title> -->
    <ion-title style="color: darkred;font-size: 75%;width: 100%;margin-top: 5px;"> Klicken Sie auf richtig benannte Buchstaben! 
      Plosive müssen richtig benannt werden, also als hartes T oder weiches D.
    </ion-title>
    <ion-title style="color: darkred;font-size: 75%;width: 100%;margin-top: 5px;margin-bottom: 5px;">Ob Te oder T ist
      egal!
    </ion-title>
    <ion-button (click)="deleteInput()" size="medium" color="light" slot="end" style="margin-right: 2%;">
      <ion-icon name="hammer"></ion-icon>
    </ion-button>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="childScreenBorder" padding>

  <app-note [exercise]=exercise [isCardActive]=isCardActive></app-note>


  <mat-grid-list cols="4" id="grid" rowHeight="fit" style="top: 45%">

    <!-- <mat-grid-tile (click)="onBoxClick(i)" *ngFor="let letter of letters, let i = index">
                    <span *ngIf="i === 22">
                        <mat-grid-tile></mat-grid-tile>
                    </span>
      <mat-checkbox disabled [checked]="checked[i]" color="primary" labelPosition="before"><span
        style="color: #4b7fd9;">{{letter}}</span></mat-checkbox> 
      
    </mat-grid-tile>-->
    <mat-grid-tile colspan="1">
      <ion-button [color]="btnColors[0]" class="letterBtn" (click)="checkLetter(1)">
        {{letters[currentItem].first}}
      </ion-button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <ion-button [color]="btnColors[1]" class="letterBtn" (click)="checkLetter(2)">
        {{letters[currentItem].second}}
      </ion-button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <ion-button [color]="btnColors[2]" class="letterBtn" (click)="checkLetter(3)">
        {{letters[currentItem].third}}
      </ion-button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="currentItem !== 5 && currentItem !== 6">
      <ion-button [color]="btnColors[3]" class="letterBtn" (click)="checkLetter(4)" style="margin-right: 5%;">
        {{letters[currentItem].fourth}}
      </ion-button>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <table style="position: absolute;bottom: 2%;width: 30%;left: 35%;right: 35%;">
    <tr>
      <td>Summe Buchstabenwissen:</td>
      <td style="text-align: right">{{getSelected()}}</td>
    </tr>
    <tr>
      <td>Anzahl falsch:</td>
      <td style="text-align: right"> {{getNotSelected()}}</td>
    </tr>

  </table> -->


  <div class="continue">
    <app-last-page-button (Clicked)="lastPage()" [Visible]="currentItem > 0"></app-last-page-button>
    <app-next-page-button (Clicked)="nextPage()"></app-next-page-button>
  </div>
</ion-content>
