@import '../exercise.scss';

mat-checkbox {
  font-size: 300%;
}

ion-icon {
  font-size: 300%
}

p {
  font-size: 100%
}

#evaluation {
  position: absolute;
  top: 99%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid {
  height: 60%;
  position: absolute;
  // margin-left: 20%;
  top: 55%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letterBtn{
  font-size: 500%;
  width: 100%;
  height: 100%;
  margin-left: 5%;
}
