#ph_logo {
  width: 17%;
  height: 17%;
  right: 10%;
  margin: 1%;
  position: relative;
}

#htl_logo {
  width: 24%;
  height: 24%;
  right: 4%;
  margin: 1%;
  position: relative;
}

#jku_logo {
  width: 34%;
  height: 34%;
  right: 1%;
  margin: 1%;
  position: relative;
}

#schnapp_logo {
  width: 100%;
  height: auto;
  position: relative;
  top: 0%;
}

.btn {
  width: 100%;
}

.error_message {
  text-align: center;
  color: #FF1E1E;
  font-weight: bold;
  font-size: 110%
}

#tmp {
  position: absolute;
  top: 10%;
  left: 35%;
  -ms-transform: translate(-25%);
  transform: translate(-25%);
}

.success_message {
  text-align: center;
  color: #4b7fd9;
  font-weight: bold;
}

.testset_dropdown {
  padding-left: 5%; 
  width: 95%;
}

.searchbar{
  padding-left: 5%; 
  width: 95%;
}
.buttonTopLeft {
  position: absolute;
  top: 0%;
  right: 65%;
}
.studentFocus{
  top: 0%;
}