<ion-content class="childScreenBorder" padding>
    <ion-split-pane contentId="main">
        <div id="main" [ngClass]="{'studentFocus': studentNameFocus}">
            <div *ngIf="data.isUrlSet" style="position: absolute;top: 1%; right: 1%; font-size: small; ">
                <div [ngStyle]="{'color': loggedIn ? '#4b7fd9' : '#FF1E1E'}">{{rest.baseUrl}}</div>
            </div>
            <div style="position: absolute;top: 1%; left: 1%; font-size: small; color: darkgrey ">
                Version: {{version}}
            </div>
            <div id="tmp">

                <mat-form-field style="padding-left: 5%; width: 50%;">
                    <mat-label>Server Adresse</mat-label>
                    <mat-select [(ngModel)]="currentUrl" [disabled]="data.blockUiButtons">
                        <mat-option *ngFor="let u of data.urls" [value]="u.url">
                            {{u.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <ion-button (click)="onSet()" size="medium" style="padding-left: 5%; width: 45%;" [disabled]="currentUrl === null || currentUrl === undefined" color="success">
                    Setzen &nbsp; <ion-icon name="wifi"></ion-icon>
                </ion-button>

                <!-------------------------------------DropDownList-TestSets------------------------------------>
                <mat-form-field class="testset_dropdown">
                    <mat-label>Test-Set</mat-label>
                    <mat-select [(ngModel)]="data.current_testset" [disabled]="data.blockUiButtons">
                        <mat-option *ngFor="let testSet of data.testSets" [value]="testSet">
                            {{testSet.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <!---------------------------------AutoComplete-User----------------------------------------->
                <!-- <table>
                    <tr>
                        <td width="100%">
                            <form> -->
                                <mat-form-field class="searchbar">
                                    <input type="text"
                                           placeholder="Name Schüler/in"
                                           aria-label="Number"
                                           matInput
                                           [(ngModel)]="data.current_user"
                                           [formControl]="studentControl"
                                           [matAutocomplete]="auto"
                                           (focus)="studentNameFocus=true" 
                                           (blur)="studentNameFocus=false">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayStudent">
                                        <mat-option *ngFor="let student of filteredStudents | async" [value]="student" [disabled]="data.blockUiButtons">
                                            {{student.name}} {{this.data.getSchoolById(student.schoolId)?.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field><!-- 
                            </form>
                        </td>
                        <td width="10%">
                            <ion-icon [hidden]="data.current_user === null" (click)="clearStudent()" name="undo"></ion-icon>
                        </td>
                    </tr>
                </table> -->


                <!-------------------------------------------Button-Login------------------------------------------------>
                <ion-button  (click)="login()" class="btn" color="success" size="large" [disabled]="isBtnDisabled() || data.current_testset === undefined || data.blockUiButtons">{{data.current_user?.name}} Anmelden &nbsp;
                    <ion-icon name="log-in"></ion-icon>
                </ion-button>

                <!-------------------------------------------Button-Neuer-Schüler---------------------------------------->
                <ion-button (click)="newStudent()" class="btn" color="success" size="large" [disabled]="data.current_testset === undefined || data.blockUiButtons">Neue/r Schüler/in &nbsp;
                    <ion-icon name="add"></ion-icon>
                </ion-button>
                <!-- <br>
                <ion-button (click)="this.data.sendRemainingResults()" [disabled]="noRemainingTests() || data.blockUiButtons" class="btn" color="success"
                size="large">Testungen hochladen &nbsp;
                   <ion-icon name="cloud-upload"> </ion-icon>
                </ion-button> -->

                <!------------------------------------------------------------------------------------------------------->
                <div *ngIf=!noRemainingTests() >
                    <p class=error_message>
                        Es gibt noch Testungen, die nicht hochgeladen wurden!
                        <br />
                        Wenn der "Testung hochladen" Button nicht vorhanden ist, erneut Server Adresse setzen!
                    </p>
                </div>
            </div>

            <!-- <div *ngIf="data.isUrlSet"  style="position: absolute;bottom: 1%; right: 1%;">
                <h2 [ngClass]="{'success_message': connected, 'error_message': !connected}">
                    <ion-button style="margin-bottom: 15px; width: 100px;" (click)="reconnect()" color="success">
                        <ion-icon name="wifi" style="font-size: 200%;"></ion-icon>
                    </ion-button>
                </h2>

            </div> -->
              
            <!-- Auswahllisten zurücksetzen  [hidden]="!debugMode.checkDebugMode()"-->
            <!-- <div style="position: absolute;bottom: 5%; left: 1%; font-size: small;">
                <ion-button (click)="clearLocalStorage()" class="btn" color="none" size="small">Auswahllisten zurücksetzen</ion-button>
            </div> -->
            <div
                style="position: relative; top: 89%; text-align: right;background-color: white; border-radius: 50px 0px 0px 0px;float: right;width: 600px; padding: 5px">
                <img alt="PH_OOE_Logo_RGB" class="img-responsive" id="ph_logo" src="assets/picture/PH_OOE_Logo_RGB.png">
                <img class="img-responsive" id="htl_logo"
                    src="assets/picture/htl.png">
                <img class="img-responsive" id="jku_logo"
                     src="assets/picture/jku_neu.png">
            </div>
        </div>
        <ion-menu contentId="menuContent" menuId="menu">
            <ion-content id="menuContent" class="childScreenBorder">
                <ion-header>
                    <ion-toolbar color="success">
                        <ion-title>Testungen</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-card *ngFor="let result of data.remainingResults" style="background: #ecf0f1">
                    <ion-card-header>
                        <div>
                            {{result.testingDate  | date:'dd.MM.yyyy HH:mm'}} ({{result?.examiner?.name}})
                        </div>
                        <ion-card-title>{{getTestSetTitleFromId(result.testTemplateId)}}</ion-card-title>
                        <ion-card-title>{{result.student?.name }}</ion-card-title>
                        <ion-card-subtitle>

                            <div *ngIf="result.finished && (result.schreibenEvaluated == null || result.schreibenEvaluated == true); else notFinished">
                                <ion-text color="success">Bereit zum Hochladen</ion-text>
                                <div *ngIf="result.sendedResult">
                                    <ion-text color="success">{{getSendedResultStatus(result)}}</ion-text>
                                </div>
                            </div>
                            <ng-template #notFinished>
                                <ion-text color="danger">{{getResultStatus(result)}}</ion-text>
                            </ng-template>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button *ngIf="!result.finished" (click)="continue(result)" style="float:right">Fortsetzen</ion-button>
                        <ion-button style="width: 100%;" (click)="seeResult(result)">Testungsdaten einsehen <ion-icon
                                name="search"></ion-icon>
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-content>
        </ion-menu>
    </ion-split-pane>
</ion-content>
