
mat-form-field {
  font-size: 80%;
  top: 1em;
  left: -15%;
}

.evaluationHeadLine {
  font-size: 200%;
  margin-bottom: 2%;
}

img{
  //border: solid 2px black;
}

.form-field {
  font-size: 150%;
  top: 1em;
  left: -15%;
}

#grid {
  height: 60%;
  position: absolute;
  // margin-left: 20%;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.borderSelected {
  border: 5px solid black;
  border-radius: 10px;
  background-color: #FFFFFF77;
}

.borderCorrected {
  border: 5px solid #1FC930;
  border-radius: 10px;
  background-color: #FFFFFF77;
}
mat-radio-button{
 color: #4b7fd9;
}
.white-border{
  position: absolute;
  left:0%;
  top:0%;
  background-color: white; 
  border-radius: 0px 0px 50px 0px;
  width: 50%;
}
.header-box{
  position: absolute;
  top: 0%;
  left:0%;
  width: 95%
}
h2 {
  font-family: 'AaBbCc', sans-serif;
}
div{
  font-family: 'AaBbCc', sans-serif;
}
ion-title{
  font-family: 'AaBbCc', sans-serif;
}

mat-grid-tile{
  font-family: 'AaBbCc', sans-serif;
}

@font-face {
    font-family: 'AaBbCc';

    src: url('src/assets/gralev/mm.ttf');
}