<!-- <ion-header>
  <ion-toolbar>
      <ion-title style="width: 50%;margin-top: 5px">{{exercise.title}}</ion-title>
      
  </ion-toolbar>

</ion-header> -->

<ion-content>

  <div class="center">
      <mat-grid-list class="grid" cols="1" rowHeight="fit">
        <mat-grid-tile rowspan="2">
          <div style="font-size: 500%;">
            Fragen an dich
          </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="4">
          <div class="ball">
            ???
          </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2"></mat-grid-tile>
      </mat-grid-list>
  </div>
  <div class="continue">
    <ion-button size="large" color="success" style="float: right;" (click)="nextPage()">
      <ion-icon style="font-size: 250%;" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>


</ion-content>

