<ion-header>
    <ion-toolbar>
        <ion-title style="width: 50%; margin-top: 5px">F4 Steine zuordnen</ion-title>
        <ion-title *ngIf="tutorialCount < tutorialEndCount" style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">Übung</ion-title>
        <ion-title *ngIf="tutorialCount >= tutorialEndCount" style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">Durchgang {{wordCount}}</ion-title>
        <ion-icon (click)="resetTutorial()" *ngIf="wordCount <= 1" name="refresh"
                  style="position: absolute; font-size: 40px; top: 15%; right: 0%; margin-right: 1%"></ion-icon>
        <ion-button *ngIf="tutorialCount < tutorialEndCount" [hidden]="!debugMode.checkDebugMode()" color="light"  (click)="skipTutorial()"  size="medium" style=" position: absolute; top: 20%; right: 20%; margin-right: 1%"> Skip Tutorial</ion-button>
        <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
 
      </ion-toolbar>
</ion-header>

<!-- cdkDrop geht nur in chrome-->

<ion-content [ngClass]="{'exerciseScreenBorder': tutorialCount < tutorialEndCount, 'childScreenBorder': tutorialCount >= tutorialEndCount}" >

        <img [hidden]="tutorialCount < 1" *ngIf="tutorialCount < tutorialEndCount" class="moveBigStone" style="position: absolute;width: 15%; height: auto;z-index: 10; left: 57%; top: 12%" src="assets/lernverlauf/01-silben/stoneBig.png">
        <img [hidden]="tutorialCount < 1" *ngIf="tutorialCount < tutorialEndCount" class="moveSmallStone" style="position: absolute;width: 15%; height: auto;z-index: 10; left: 70%; top: 12%" src="assets/lernverlauf/01-silben/stoneSmall.png"/>

   <div class="center">

       <mat-grid-list cols="14" rowHeight="1:1">

     <!-- 1. Zeile:
       (3) Leer
       (2) Tutorial-Redo bzw. Exercise-Audio-Replay-Button
       (4) Leer
       (2) Stones-Toolbox
       (3) Leer
     -->
      <mat-grid-tile colspan="3">

      </mat-grid-tile>
      <mat-grid-tile colspan="2">

      </mat-grid-tile>
      <mat-grid-tile colspan="3">

      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="2" >
        <div class="center" *ngIf="tutorialCount >= tutorialEndCount">
            <div class="toolbox" cdkDropList #question="cdkDropList"
              id="toolbox"
              [cdkDropListData]="stonesList"             
              [cdkDropListConnectedTo]="[answer1,answer2,answer3]"
              (cdkDropListDropped)="dropToToolbox($event)">            
              <div *ngFor="let item of stonesList" (cdkDragStarted)="cdkDragStarted($event, item)" cdkDrag>
                <img src= "{{ item.image }}"/>
              </div> 
            </div>
        </div>               
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
      </mat-grid-tile>

      <!-- 2. Zeile: 
        (1) Leer
        (6) Vorgabebild
        (7) Leer
      -->

      <mat-grid-tile colspan="1" rowspan="6">
      </mat-grid-tile>

      <mat-grid-tile colspan="6" rowspan="6">
        <img  style="z-index:1; position: relative;" width="80%" *ngIf="tutorialCount < 4" [src]="tutorialPic.image"/>
        <img  style="z-index:1; position: relative;" width="80%" *ngIf="tutorialCount >= tutorialEndCount" [src]="askedList[wordCount].image"/>
      </mat-grid-tile>  

      <mat-grid-tile colspan="7" rowspan="1">        
      </mat-grid-tile>

      <!-- 4. + 5. Zeile: Drop-List für SelectedStones-->
      <mat-grid-tile 
        [ngClass]="{'item-dropped': firstAnswersBox.length === 1, 'item-to-drop': tutorialCount >= 1 && firstAnswersBox.length < 1}"  
        [colspan]="6 / getRequestedSilbenCount()" rowspan="2"  >
          <ion-list  style="background-color:rgba(0, 0, 0, 0);"
            [hidden]="tutorialCount < 1" 
            id="answer1"
            cdkDropList #answer1="cdkDropList" 
            [cdkDropListData]="firstAnswersBox"
            [cdkDropListConnectedTo]="[question,answer2,answer3]"           
            (cdkDropListDropped)="dropToAnswerBox($event, 1)"
            (cdkDropListEntered)="enterAnswerBox($event, 1)"
            >
              <div cdkDrag> 
                    <img  *ngIf="firstAnswersBox.length === 1" size="small" src= "{{ firstAnswersBox[0].image }}"/>
                    <div *ngIf="firstAnswersBox.length === 0">
                      <h1 style="opacity: 0%">Item Placeholder</h1>
                  </div>
                </div>
          </ion-list>
      </mat-grid-tile>

      <mat-grid-tile  
        [colspan]="6 / getRequestedSilbenCount()" 
        [ngClass]="{'item-dropped': secondAnswersBox.length===1, 'item-to-drop': tutorialCount >= 1 && secondAnswersBox.length != 1}" colspan="2" rowspan="2">
          <ion-list 
            style="background-color:rgba(0, 0, 0, 0);"
            [hidden]="tutorialCount < 1" cdkDropList #answer2="cdkDropList"
            id="answer2"
            [cdkDropListData]="secondAnswersBox" 
            [cdkDropListConnectedTo]="[question,answer1,answer3]"            
            (cdkDropListDropped)="dropToAnswerBox($event,2)"
            (cdkDropListEntered)="enterAnswerBox($event, 2)">
            <div  cdkDrag>
              <img *ngIf="secondAnswersBox.length >= 1" size="small" src= "{{ secondAnswersBox[0].image }}" />
              <div *ngIf="secondAnswersBox.length != 1">
                <h1 style="opacity: 0%">Item Placeholder</h1>
              </div>       
            </div>
          </ion-list>
      </mat-grid-tile>  

      <!-- Box 3 nur wenn 3-Silber -->
      <mat-grid-tile 
        [colspan]="getColspanThirdBox()" rowspan="2" 
        [ngClass]="{'item-dropped': thirdAnswersBox.length===1, 
          'item-to-drop': tutorialCount >= 1 && thirdAnswersBox.length != 1 && getColspanThirdBox() != 0,
          'item-invisible': getColspanThirdBox() === 0}">
        <ion-list style="background-color:rgba(0, 0, 0, 0);"           
          id="answer3"
          [hidden]="tutorialCount < 1 && getColspanThirdBox() === 0" cdkDropList #answer3="cdkDropList" 
          [cdkDropListData]="thirdAnswersBox"
          [cdkDropListConnectedTo]="[question,answer1,answer2]"
          (cdkDropListDropped)="dropToAnswerBox($event, 3)"
          (cdkDropListEntered)="enterAnswerBox($event, 3)">
          <div cdkDrag>
            <img *ngIf="thirdAnswersBox.length >= 1" size="small" src= "{{ thirdAnswersBox[0].image }}" />
            <div *ngIf="thirdAnswersBox.length != 1">
              <h1 style="opacity: 0%">Item Placeholder</h1>
            </div>       
          </div>
        </ion-list>
      </mat-grid-tile>
        
      <mat-grid-tile rowspan="2">
      </mat-grid-tile>

      <!-- 6. Zeile: Button-Toolbar -->

      <mat-grid-tile colspan="1" rowspan="1">
        <ion-button *ngIf="tutorialCount >= 2 || this.secondsPassed >= 15" color="warning" (click)="playSelectedStones()">
          <ion-icon [name]="getPlayIcon()"   ></ion-icon>
        </ion-button>
      </mat-grid-tile>

     <mat-grid-tile>

     </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <ion-button *ngIf="tutorialCount >= 2000 && isHelpEnabled()" (click)="help()">
          <ion-icon name="help"></ion-icon>
        </ion-button>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="1">
      </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
                <ion-icon [hidden]="!(tutorialCount >= tutorialEndCount)" (click)="resetBoxes()" size="large" name="undo"></ion-icon>
        </mat-grid-tile>

     
    </mat-grid-list> 
  </div>
<div class="continue">
    <ion-button *ngIf="tutorialCount >= 2" size="large" style="float:right;" (click)="checkAnswer()" [disabled]="!isAnswerComplete()">
        <ion-icon name="checkmark"></ion-icon>
    </ion-button>
</div>
</ion-content>
