<ion-header>
  <ion-toolbar>
    <ion-title style="width: 50%;margin-top: 5px">{{headline}}</ion-title>
    <ion-title style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">{{getSubTitle()}} &nbsp;</ion-title>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
    <ion-icon *ngIf="currentItem < 1" (click)="resetAudio()" name="refresh"
              style=" position: absolute; top: 10%; right: 0%; margin-right: 1%"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="isExercise() ? 'exerciseScreenBorder' : 'childScreenBorder'">

  <div class="center">
    <mat-grid-list class="grid" cols="4" rowHeight="fit">
      <!-- 1. Zeile nur Play-Button mittig -->
      <mat-grid-tile colspan="4">
        <ion-button (click)="playAudio()" color="warning" size="large"
                    style="height: 40%; width: 10%;">
          <ion-icon [name]="getPlayIcon()" style="font-size: 350%"></ion-icon>
        </ion-button>
      </mat-grid-tile>

      <!-- 2. Zeile Auswahlbilder -->
      <span *ngFor="let image of items[currentItem].images, let i = index">
                <mat-grid-tile [ngClass]="checkBoxStyles[i]">
                    <img style="height: 85%; width: 85%" (click)="chooseImage(i)"
                         src="assets/schnapp/schnapp-passiver-wortschatz/images/{{image}}">
                </mat-grid-tile>
            </span>

      <!-- 3. Zeile leer -->
      <mat-grid-tile colspan="4">
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="continue">
    <app-last-page-button (Clicked)="lastPage()" [Visible]="currentItem > nrOfExercises && !back"></app-last-page-button>
    <app-next-page-button (Clicked)="nextPage()" [Enabled]="nextPageAllowed()"></app-next-page-button>
  </div>
</ion-content>
