<ion-header>
  <ion-toolbar *ngIf="isInstruction() == false">
    <ion-title style="width: 50%;margin-top: 5px">{{exercise.title}}</ion-title>
    <!-- <ion-title style="font-size: 100%;width: 100%;margin-top: 5px; margin-bottom: 5px">
      Lies den Text. Wähle die Wörter, die am besten in den Text passen.
    </ion-title>
    <div *ngIf="false" style=" position: absolute; top: 20%; right: 0%; margin-right: 1%; font-size: 150%">
      {{getRemainingTime()}}
      </div> -->
  </ion-toolbar>
  <!--<div class="basic-container">
      <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
  </div>-->
</ion-header>

<ion-content>
  
  <div class="left">
      <mat-grid-list class="grid" cols="1" rowHeight="fit" *ngIf="words && words[wordCount]">
        <div *ngIf="isInstruction() == true">
          <mat-grid-tile style="font-size: 130%;">
            <span [ngSwitch]="textCounter">
              <p *ngSwitchCase="0">
                Bravo! Jetzt kommt die nächste Aufgabe.<br><br>
                Du siehst nun viele Bilder aneinandergereiht. <br>
                Dazwischen gibt es Lücken. <br>
                Wähle immer das Bild, das in die Zeile passt.<br>
                Jetzt kommt ein Beispiel.
              </p>
              <p *ngSwitchCase="2">
                Das hast du toll gemacht. <br>
                Hast du noch Fragen?Wenn nicht, dann kann es jetzt losgehen.<br>
                Nicht vergessen: arbeite so schnell du kannst.
              </p>
            </span>
          </mat-grid-tile>
        </div>  
        <div *ngIf="isInstruction() == false">
            <!--
              <mat-grid-tile *ngIf="historyCount===0">
                <table>
                    <tr>
                      <th>Erstes Wort</th>
                      <th>Zweites Wort</th>
                      <th>Drittes Wort</th>
                    </tr>
                    <tr>
                      <td [ngClass]="color[0]" [(ngModel)]="words[0]">{{getColor(0)}}</td>
                      <td [ngClass]="color[1]" [(ngModel)]="words[1]">{{getColor(1)}}</td>
                      <td [ngClass]="color[2]" [(ngModel)]="words[2]">{{getColor(2)}}</td>
                    </tr>
                </table>
              </mat-grid-tile>
              <mat-grid-tile rowspan="2">
                <div style="font-size: 130%; border-bottom: 2px black solid;">
                  {{historyTitle[historyCount]}}
                </div>
              </mat-grid-tile>-->
              <mat-grid-tile rowspan="10">
                <div style="font-size: 130%; position: absolute;top: 0;">
                  <span *ngFor="let part of getHistoryPartsByCount()">
                    <span *ngFor="let In of counter(part.iconCount)">
                      <span *ngIf="part.icon==='stern'" class="material-icons" style="font-size: 40px;">
                        star
                      </span>
                      <span *ngIf="part.icon==='kreis'" class="material-icons" style="font-size: 40px;">
                        circle
                      </span>
                      <span *ngIf="part.icon==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 40px;">
                        stop
                      </span>
                    </span>
                    <span *ngIf="part.nextWord > 0">
                    <button mat-buttons style="color: black;" [matMenuTriggerFor]="menu">
                      <span *ngIf="words[part.nextWord-1].selected==='stern'" class="material-icons" style="font-size: 50px;">
                        star
                      </span>
                      <span *ngIf="words[part.nextWord-1].selected==='kreis'" class="material-icons" style="font-size: 50px;">
                        circle
                      </span>
                      <span *ngIf="words[part.nextWord-1].selected==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 50px;">
                        stop
                      </span>
                      <span *ngIf="words[part.nextWord-1].selected===''" style="font-size: 50px;">
                        -----
                      </span>
                    </button>
                    <mat-menu #menu="matMenu">
                      <span *ngFor="let word of words[part.nextWord-1].answers">
                        <button mat-menu-item (click)="onItem(part.nextWord-1, word)">
                          <span *ngIf="word==='stern'" class="material-icons" style="font-size: 50px;">
                            star
                          </span>
                          <span *ngIf="word==='kreis'" class="material-icons" style="font-size: 50px;">
                            circle
                          </span>
                          <span *ngIf="word==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 50px;">
                            stop
                          </span> 
                        </button>
                      </span>
                    </mat-menu>
                  </span>
                    <!-- <select id="iconselect" *ngIf="part.nextWord > 0" interface="popover" [(ngModel)]="words[part.nextWord-1].selected">
                      <option *ngFor="let word of words[part.nextWord-1].answers">
                        {{word}}
                        <span *ngIf="word==='stern'">
                          <ion-icon name="star"></ion-icon>
                        </span>
                        <span *ngIf="word==='kreis'" class="material-icons" style="font-size: 75px;">
                          circle
                        </span>
                        <span *ngIf="word==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
                          stop
                        </span> 
                      </option>
                    </select> -->
                  </span>
                </div>
              </mat-grid-tile>
          </div>
      </mat-grid-list>
  </div>

  <div class="continue">
    <ion-button size="small" style="float:right;" color="dark" (click)="check()" [disabled]="isDisabled()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>


</ion-content>