<ion-header>
  <ion-toolbar>
      <ion-title style="width: 50%;margin-top: 5px">{{exercise.title}}</ion-title>
      <ion-title style="font-size: 100%;width: 100%;margin-top: 5px; margin-bottom: 5px; color: red;">
        Lesen Sie die folgenden Fragen vor und klicken Sie auf die Antwort, die das Kind gibt. 
      </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="screen">

  <div class="center">

      <mat-grid-list class="grid" cols="1" rowHeight="fit">

          <mat-grid-tile>
              <div style="font-size: 250%;">
                  {{words[wordCount].question}}
              </div>
          </mat-grid-tile>

          <mat-grid-tile>
            
              <button [ngClass]="buttoncolor[0]" (click)="save(0, words[wordCount].answers[0])">
                {{words[wordCount].answers[0]}}
              </button>
              
              <button [ngClass]="buttoncolor[1]" (click)="save(1,words[wordCount].answers[1])">
                {{words[wordCount].answers[1]}}
              </button>
              
              <button [ngClass]="buttoncolor[2]" (click)="save(2, words[wordCount].answers[2])">
                {{words[wordCount].answers[2]}}
              </button>
            
          </mat-grid-tile>

      </mat-grid-list>

  </div>

  <div class="continue">

    <ion-button size="large" color="success" style="float: left;" (click)="lastAnswer()" [disabled]="wordCount < 1">
      <ion-icon style="font-size: 250%;" name="arrow-back"></ion-icon>
    </ion-button>

  </div>


</ion-content>