<ion-header>
    <ion-toolbar>
        <ion-title style="width: 50%;margin-top: 5px">{{exercise.title}}</ion-title>
        <ion-title style="font-size: 75%;width: 50%;margin-top: 5px; margin-bottom: 5px">
            In dieser Übung musst Du das richtige Wort zu einem Bild finden.
        </ion-title>
        <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>

        <div style=" position: absolute; top: 20%; right: 0%; margin-right: 1%; font-size: 150%" *ngIf="wordCount > 0">
            {{getRemainingTime()}}
        </div>
    </ion-toolbar>
    <div class="basic-container" *ngIf="wordCount > 0">
        <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
    </div>

</ion-header>

<ion-content [ngClass]="{'exerciseScreenBorder': wordCount == 0, 'childScreenBorder': wordCount >= 1}">

    <div class="center" *ngIf="isTutorial()">
        <mat-grid-list class="grid" cols="1" rowHeight="fit">
            <mat-grid-tile>
                <!--                <ion-button size="large" style="font-size:300%" (click)="startExercise()">Los geht's!</ion-button>-->
            </mat-grid-tile>
        </mat-grid-list>

    </div>

    <div class="center" *ngIf="!isTutorial()">
        <mat-grid-list class="grid" cols="3" rowHeight="fit">
            <mat-grid-tile rowspan="4">
                <img [src]="words[wordCount].image" alt="" style="width: 18rem; height: 18rem">
            </mat-grid-tile>

            <mat-grid-tile colspan="2" *ngFor="let word of words[wordCount].words,let i = index" [ngClass]="checkBoxColor[i]" style="width: 60%;">
                <div *ngIf="showWords"
                     (click)="selectAnswer(i)"
                     style="font-size: 300%; color: #4b7fd9;">
                    {{word}}
                </div>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

    <div class="continue" *ngIf="tutorialCount > 0">
        <app-next-page-button (Clicked)="check(words[wordCount].words[selectedAnswer])" [hidden]="!navigateToNextPage"></app-next-page-button>
    </div>


</ion-content>
