<ion-header>
  <ion-toolbar *ngIf="isInstruction() == false">
    <ion-title style="width: 50%;margin-top: 5px">{{exercise.title}}</ion-title>
    <!-- <ion-title style="font-size: 100%;width: 100%;margin-top: 5px; margin-bottom: 5px">
      Welches Wort passt zu welchem Bild? Klicke auf ein Wort und ziehe es zu dem richtigen Bild.
    </ion-title> -->
    <div *ngIf="false" style=" position: absolute; top: 20%; right: 0%; margin-right: 1%; font-size: 150%" >
      {{getRemainingTime()}}
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center" *ngIf="words && words[wordCount]">
    
    <mat-grid-list class="grid" cols="8" rowHeight="fit">
      <div *ngIf="isInstruction() == true">
        <mat-grid-tile colspan="8" style="font-size: 130%;">
          <span [ngSwitch]="textCounter">
            <p *ngSwitchCase="0">
              Super! Auf zur nächsten Aufgabe.<br><br>
              Du siehst nun oben ein Bild und unten drei.<br>
              Ziehe das Bild von oben zu dem gleichen Bild unten.<br>
              Jetzt kommen zwei Beispiele.
            </p>
            <p *ngSwitchCase="3">
              Das hast du toll gemacht. Hast du noch Fragen?<br>
              Wenn nicht, dann kann es jetzt losgehen.<br>
              Nicht vergessen: arbeite so schnell du kannst.
            </p>
            <p *ngSwitchDefault>
            
            </p>
          </span>
        </mat-grid-tile>

      </div>  
      <div *ngIf="isInstruction() == false">

        <mat-grid-tile 
          colspan="8" rowspan="2" >  
              <ion-list class="toolbox" cdkDropList #question="cdkDropList"
                id="toolbox"
                [cdkDropListData]="words[wordCount].correct"
                [cdkDropListConnectedTo]="[answer1,answer2,answer3]"
                (cdkDropListDropped)="drop($event, 0)">          
                <!-- *ngFor="let word of words[wordCount].words; let i = index" -->  
                <div 
                  (cdkDragStarted)="cdkDragStarted($event, words[wordCount].correct)" 
                  cdkDrag                   
                  style="font-size: 130%; padding-left: 10px; padding-right: 10px;">
                  <!-- <div style=" border: solid 2px black; border-radius: 10px;"> -->
                    <span *ngIf="words[wordCount].correct[0]==='stern'" class="material-icons" style="font-size: 75px;">
                      star
                    </span>
                    <span *ngIf="words[wordCount].correct[0]==='kreis'" class="material-icons" style="font-size: 75px;">
                      circle
                    </span>
                    <span *ngIf="words[wordCount].correct[0]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
                      stop
                    </span>
                 <!--  </div> -->
                </div>
              </ion-list>             
        </mat-grid-tile>
        
        <mat-grid-tile colspan="2" rowspan="2" style="border: solid 2px black; border-radius: 10px;">
          <!--  {{words[wordCount].answers[0]}}-->
          <span *ngIf="words[wordCount].answers[0] ==='stern'" class="material-icons" style="font-size: 75px;">
            star
          </span>
          <span *ngIf="words[wordCount].answers[0]==='kreis'" class="material-icons" style="font-size: 75px;">
            circle
          </span>
          <span *ngIf="words[wordCount].answers[0]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
            stop
          </span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="6">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2" style="border: solid 2px black; border-radius: 10px;">
          <!-- {{words[wordCount].answers[1]}} -->
          <span *ngIf="words[wordCount].answers[1] ==='stern'" class="material-icons" style="font-size: 75px;">
            star
          </span>
          <span *ngIf="words[wordCount].answers[1]==='kreis'" class="material-icons" style="font-size: 75px;">
            circle
          </span>
          <span *ngIf="words[wordCount].answers[1]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
            stop
          </span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="6">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2" style="border: solid 2px black; border-radius: 10px;">
         <!--  {{words[wordCount].answers[2]}} -->
          <span *ngIf="words[wordCount].answers[2] ==='stern'" class="material-icons" style="font-size: 75px;">
            star
          </span>
          <span *ngIf="words[wordCount].answers[2]==='kreis'" class="material-icons" style="font-size: 75px;">
            circle
          </span>
          <span *ngIf="words[wordCount].answers[2]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
            stop
          </span>
        </mat-grid-tile>
        
        <mat-grid-tile 
        [ngClass]="answerBoxColor[0]"
          [colspan]="2" [rowspan]="2"  >
            <ion-list  style="background-color:rgba(0, 0, 0, 0);"
              id="answer1"
              cdkDropList #answer1="cdkDropList" 
              [cdkDropListData]="firstAnswersBox"
              [cdkDropListConnectedTo]="[question,answer2,answer3]"
              (cdkDropListDropped)="drop($event, 1)">
                <div cdkDrag> 
                  
                  <div *ngIf="firstAnswersBox.length === 1" style="font-size: 130%;">
                    <span *ngIf="firstAnswersBox[0] ==='stern'" class="material-icons" style="font-size: 75px;">
                      star
                    </span>
                    <span *ngIf="firstAnswersBox[0]==='kreis'" class="material-icons" style="font-size: 75px;">
                      circle
                    </span>
                    <span *ngIf="firstAnswersBox[0]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
                      stop
                    </span>
                  </div>
                  <div *ngIf="firstAnswersBox.length === 0">
                    <h1 style="opacity: 0%">Item Placeholder</h1>
                  </div>
                </div>
            </ion-list>
        </mat-grid-tile>

        <mat-grid-tile  
        [ngClass]="answerBoxColor[1]"
        [colspan]="2" [rowspan]="2">
            <ion-list 
              style="background-color:rgba(0, 0, 0, 0);"
              cdkDropList #answer2="cdkDropList" 
              id="answer2"
              [cdkDropListData]="secondAnswersBox"
              [cdkDropListConnectedTo]="[question,answer1,answer3]"
              (cdkDropListDropped)="drop($event, 2)">
              <div  cdkDrag>
                <div *ngIf="secondAnswersBox.length === 1" style="font-size: 130%;">
                  <span *ngIf="secondAnswersBox[0] ==='stern'" class="material-icons" style="font-size: 75px;">
                    star
                  </span>
                  <span *ngIf="secondAnswersBox[0]==='kreis'" class="material-icons" style="font-size: 75px;">
                    circle
                  </span>
                  <span *ngIf="secondAnswersBox[0]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
                    stop
                  </span>
                </div>
                <div *ngIf="secondAnswersBox.length === 0">
                  <h1 style="opacity: 0%">Item Placeholder</h1>
                </div>      
              </div>
            </ion-list>
        </mat-grid-tile>  

        <mat-grid-tile  
        [ngClass]="answerBoxColor[2]"
        [colspan]="2" [rowspan]="2">
            <ion-list 
              style="background-color:rgba(0, 0, 0, 0);"
              cdkDropList #answer3="cdkDropList" 
              id="answer3"
              [cdkDropListData]="thirdAnswersBox"
              [cdkDropListConnectedTo]="[question,answer1,answer2]"
              (cdkDropListDropped)="drop($event, 3)">
              <div  cdkDrag>
                <div *ngIf="thirdAnswersBox.length === 1" style="font-size: 130%;">
                  <span *ngIf="thirdAnswersBox[0] ==='stern'" class="material-icons" style="font-size: 75px;">
                    star
                  </span>
                  <span *ngIf="thirdAnswersBox[0]==='kreis'" class="material-icons" style="font-size: 75px;">
                    circle
                  </span>
                  <span *ngIf="thirdAnswersBox[0]==='raute'" class="material-icons" style="transform: rotate(45deg); font-size: 75px;">
                    stop
                  </span>
                </div>
                <div *ngIf="thirdAnswersBox.length === 0">
                  <h1 style="opacity: 0%">Item Placeholder</h1>
                </div>
              </div>
            </ion-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="1">
        </mat-grid-tile>
      </div>  
    </mat-grid-list>
  </div>
  <div class="continue">
    <ion-button size="small" style="float:right;" color="dark" (click)="checkAnswer()" [disabled]="nextDisabled == true">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>
