
.mapForest {
  --background: #fff url('src/assets/picture/forestNeu_komprimiert.jpg') no-repeat center / 100% 100%;
  z-index: 1;
}
.mapLabyrinth {
  --background: #fff url('src/assets/picture/labyrinth.png') no-repeat center / 100% 100%;
  z-index: 1;
}
.mapMountain{
  --background: #fff url('src/assets/picture/mountain.png') no-repeat center / 100% 100%;
  z-index: 1;
}

ion-icon {
  font-size: 400%
}

.cdk-drag-placeholder {
  opacity: 0;
  top: 0px;
  left: 0px;
}

.cdk-drag-preview{
  // content:url('src/assets/animations/Drache.gif');
  // content:url('src/assets/animations/Character_Dino.gif');
}



.grid {
  height: 100%;
  position: absolute;
  // margin-left: 20%;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.row{
  position: absolute;
  cursor: move;
  min-height: 18vw;
  min-width: 18vw;
  border-radius: 25px;
}

.firstContainer{
  position: absolute;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 28vh;
  left: 0vw;
  z-index: 20;
}

.secondContainer{
  position: absolute;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 23vh;
  left: 40vw;
  z-index: 20;
}

.thirdContainer{
  position: absolute;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 0vh;
  left: 74vw;
  z-index: 20;
}

.firstContainerLab{
  position: absolute;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 24vh;
  left: 6vw;
  z-index: 20;
}

.secondContainerLab{
  position: absolute;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 25vh;
  left: 40vw;
  z-index: 20;
}

.thirdContainerLab{
  position: absolute;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 19vh;
  left: 79vw;
  padding-left: 0px;
  z-index: 20;
}

.firstContainerBerg{
  position: fixed;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 4vh;
  left: 0vw;
  z-index: 20;
}

.secondContainerBerg{
  position: fixed;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 18vw;
  top: 0vh;
  left: 14vw;
  z-index: 20;
}

.thirdContainerBerg{
  position: fixed;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 16vw;
  top: 35vh;
  left: 45vw;
  padding-left: 0px;
  z-index: 20;
}

.fourthContainerBerg{
  position: fixed;
  border-radius: 25px;
  // background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 20vw;
  top: 63vh;
  left: 50vw;
  padding-left: 0px;
  z-index: 20;
}

.fifthContainerBerg{
  position: fixed;
  border-radius: 25px;
  //background: rgba(0, 149, 255, 0.5);
  width: 18vw;
  height: 20vw;
  top: 53vh;
  left: 75vw;
  padding-left: 0px;
  z-index: 20;
}

#circlewWood{
  position: relative;
  left: 79vw;
  top: 15vh;
  width: 200px;
  height: auto;
  transform: rotate(250deg);
}

#circlewWood2{
  position: relative;
  left: 45vw;
  top: 37vh;
  width: 200px;
  height: auto;
  transform: rotate(250deg);
}

#circleLab{
  position: relative;
  left: 89vw;
  top: 42vh;
  width: 300px;
  height: auto;
}

#circleBerg1{
  position: fixed;
  left: 15vw;
  top: 5vh;
  width: 150px;
  height: auto;
  transform: rotate(250deg);
}

#circleBerg2{
  position: relative;
  left: 45vw;
  top: 40vh;
  width: 180px;
  height: auto;
  transform: rotate(250deg);
}


#circleBerg3{
  position: relative;
  left: 56vw;
  top: 82vh;
  width: 200px;
  height: auto;
}

#circleBerg4{
  position: fixed;
  left: 76vw;
  top: 75vh;
  width: 200px;
  height: auto;
}

.luchs{
  position: absolute;
  left: 17%;
  top: 37%;
  height: 35vh;
  width: auto;
  border: none;
}

.holz {
  width: 300px;
  height: 300px;
  position: relative;
  top: 17%;
  left: 14%;
}

.wegweiserAway{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 17%;
  left: 14%;
  content: url('src/assets/animations/wegweiser.png');
  animation: getDown 4s;
  animation-fill-mode: forwards;
}

.wegweiser {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 17%;
  left: 14%;
  content: url('src/assets/animations/wegweiser.png');
  animation: zoomIn 30s;
  //animation-delay: 25s;
  //animation-fill-mode: forwards;
}

.schwupp {
  width: auto;
  height: 250px;
  position: absolute;
  top: 27%;
  left: -3%;
  content: url('src/assets/animations/winken.gif');
  animation: zoomIn 10s;
  animation-fill-mode: forwards;
}

@keyframes zoomIn{
  0% {
    transform: scale(0,0);
  }
  80% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(1,1);
  }
}

.kobold {
  width: 35%;
  height: 250px;
  position: relative;
  top: 3%;
  left: 53%;
  content: url('src/assets/animations/Kobold.gif');
  animation: popUp 10s;
}

.koboldMaedchen {
  width: 30%;
  height: 200px;
  position: relative;
  top: 3%;
  left: 63%;
  content: url('src/assets/animations/Koboldmaedchen.gif');
  animation: popUp 10s;
}

.kobold2 {
  width: 35%;
  height: 250px;
  position: relative;
  top: 3%;
  left: 53%;
  content: url('src/assets/animations/Kobold.gif');
}

.koboldMaedchen2 {
  width: 30%;
  height: 200px;
  position: relative;
  top: 3%;
  left: 65%;
  content: url('src/assets/animations/Koboldmaedchen.gif');
}


.berggeist{
  width: auto;
  height: 350px;
  position: relative;
  top: 50%;
  left: 79%;
  content: url('src/assets/animations/Berggeist_flimmernd.png');
  animation: popUp 10s;
}

.steineSchatzGetDown{
  width: 120%;
  height: auto;
  position: absolute;
  top: -20%;
  left: 33%; 
  content: url('src/assets/picture/steine.png');
  animation: fadeOut 8s;
  animation-fill-mode: forwards;
}

.berggeistWeg{
  width: 15%;
  height: 200px;
  position: relative;
  top: 66%;
  left: 63%;
  content: url('src/assets/animations/Berggeist_c.png');
  animation: fadeOut 10s;
}

.berggeistOpacity{
  width: auto;
  height: 350px;
  position: relative;
  top: 50%;
  left: 79%;
  content: url('src/assets/animations/Berggeist_flimmernd.png');
  animation: opacity ease 10s;
  animation-fill-mode: forwards;
}

.imageDrache2{
  position: absolute; 
  left: 11%;
  top: 0%;
  height: 20vh; 
  width: 30vw;
  content: url('src/assets/animations/Drache.gif');
}

.imageDrache{
  position: absolute; 
  left: 43%; 
  top: 56%;
  height: 30vh; 
  width: 40vw;
  content: url('src/assets/animations/Drache.gif');
}

@keyframes opacity{
  0% { 
    opacity: 1;
  }
  100% { 
    opacity: 0.4;
  }
} 

.berggeistStay {
  width: auto;
  height: 300px;
  position: fixed;
  top: 63%;
  left: 63%;
  content: url('src/assets/animations/Berggeist_c.png');
  animation: slide-left 3s;
  animation-fill-mode: forwards;
}


.steine{
  width: 120%;
  height: auto;
  position: absolute;
  top: -20%;
  left: 1%;
  content: url('src/assets/picture/steine.png');
}

.steineSchatz{
  width: 120%;
  height: auto;
  position: absolute;
  top: -20%;
  left: 33%; 
  content: url('src/assets/picture/steine.png');
}



.steineFadeOut{
  width: 120%;
  height: auto;
  position: absolute;
  top: -20%;
  left: 1%;
  content: url('src/assets/picture/steine.png');
  animation: fadeOut ease 12s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}

.upDowner {
  position: relative;
  top: 100%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  animation: upDown 4s;
  animation-fill-mode: forwards;
}

.schrittFuerSchritt {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 300px;
  height: 300px;
  margin:-50px 0 0 -90px;
  animation: upDown 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

.popUpper {
  position: relative;
  top: 150px;
  animation: popUp 10s infinite alternate;
}

@keyframes getDown{
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(0,0);
  }
}

@keyframes popUp{
  0% {
    transform: scale(0,0);
  }
  50% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,1);
  }
}

.scaler {
  position: relative;
  top: 60%;
  left: 72%;
  width: auto;
  height: 150px;
  animation: scale 4s;
  animation-fill-mode: forwards;

}

.scaler2 {
  position: relative;
  top: 20%;
  left: 46%;
  width: 120px;
  height: 120px;
  animation: scale 4s;
  animation-fill-mode: forwards;

}

.scaler3 {
  position: relative;
  top: 20%;
  left: 80%;
  width: auto;
  height: 150px;
  animation-fill-mode: forwards;

}

.scaler4 {
  position: relative;
  top: 20%;
  left: 53%;
  animation-fill-mode: forwards;

}

.spinner {
  position: relative;
  top: 110px;
  animation: spin 2.1s infinite alternate;
}

.spinner2 {
  position: relative;
  top: 60px;
  left: 17%;
  animation: spin 2s infinite alternate;
}

.spinner3 {
  position: absolute;
  bottom: 100px;
  left: 51%;
  top: 3%;
  animation: spin 2.1s infinite alternate;
  z-index: 0;
}

.spinner4 {
  position: absolute;
  bottom: 270px;
  top: 7%;
  left: 54%;
  animation: spin 2s infinite alternate;
  z-index: 0;
}



@keyframes spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes schrittFuerSchritt {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);

  }
}


@keyframes scale {
  100% {
    transform: scaleX(2) scaleY(2);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}


@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.container{
  display: inline-block;
  position: absolute;
}

ion-button{
  --box-shadow: none;
}

h1{
  width: 50%;
  display: inline-flex;
}

h2 {
  text-align: center;
  color: darkorange;
  font-size: 1000%;
  z-index: 10;
  text-shadow: 7px 7px 9px #333;
}

img {
  width: 10vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.startPosition {
  position: relative;
  top: 15%;
  left: 6%;
  transition: 3s linear !important;
}

.secondPosition {
  position: relative;
  top: 60%;
  left: 8%;
  transition: 3s linear !important;
}

.thirdPosition {
  position: relative;
  top: 17%;
  left: 16%;
  transition: 3s linear !important;
}

.fourthPosition {
  position: relative;
  top: 10%;
  left: 42%;
  transition: 3s linear !important;
}

.fithPosition {
  position: relative;
  top: 38%;
  left: 45%;
  transition: 3s linear !important;
}

.sixthPosition {
  position: relative;
  top: 30%;
  left: 75%;
  transition: 3s linear !important;
}

.seventhPosition {
  position: relative;
  top: 20%;
  left: 83%;
  transition: 3s linear !important;
}

.fadeElementOut{
  -webkit-animation: 6s ease 0s normal forwards 1 fadeout;
  animation: 3s ease 0s normal forwards 1 fadeout;
}

@keyframes fadeout{
  0% { opacity:1; }
  66% { opacity:1; }
  100% { opacity:0; }
}

@-webkit-keyframes fadeout{
  0% { opacity:1; }
  66% { opacity:1; }
  100% { opacity:0; }
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
