<ion-header>
  <!-- <ion-toolbar>
      </ion-toolbar> -->
</ion-header>

<ion-content padding>

<div class="center" *ngIf="!isCardActive">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="2" style="font-size: 200%;">
      Super. Du hast dieses Spiel geschafft!
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
  </mat-grid-list>
</div>

  <div class="continue">
    <ion-button size="small" color="dark" style="float:right;" (click)="nextPage()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>
