
<ion-header>
    <ion-toolbar>
        <ion-title style="width: 50%; margin-top: 5px">{{ getHeadline() }}</ion-title>
        <ion-title *ngIf="wordCount >= 0" style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">{{ getSubTitle() }}</ion-title>

        <ion-button [hidden]="!debugMode.checkDebugMode()" color="light"  (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>

    </ion-toolbar>
</ion-header>


<ion-content [ngClass]="isTutorial() ? 'exerciseScreenBorder' : 'childScreenBorder'">

    <div class="center">
        <mat-grid-list class="grid" cols="3" rowHeight="fit">
            <mat-grid-tile>
                <ion-button [disabled]="!drawingAvailable" (click)="setupCanvas()" color="success" size="large">
                    <img src="assets/icons/eraser.png" style="height: 3rem;width: 3rem;padding: 5px"/>
                </ion-button>
            </mat-grid-tile>
            <mat-grid-tile>
                <ion-button [hidden]="wordCount === -1" (click)="playAudio()" color="warning" size="large" style="margin: 40px;">
                    <ion-icon [name]="getPlayIcon()" style="font-size: 250%"></ion-icon>
                </ion-button>
            </mat-grid-tile>
            <mat-grid-tile>
                <ion-button  [disabled]="!drawingAvailable" (click)="nextWord()"  color="success" size="large">
                    <ion-icon style="font-size: 250%" name="arrow-forward"></ion-icon>
                </ion-button>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2">
                <div >
                    <canvas  #canvas></canvas>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

</ion-content>
