<ion-content class="examinerScreenBorder" padding>

  <h1 style="position: relative;top: 0;">Familienanamnese {{name}}</h1>
  <mat-grid-list cols="4" rowHeight="fit" class="grid">
    <mat-grid-tile colspan="4">
      <h4 style="margin: 0 50px 0 50px;">
        Gibt es in der Familie des Kindes Personen, welche das Lesen und/oder Rechtschreiben selbst als mühsam erlebt
        haben, beziehungsweise bei welchen eine Legasthenie festgestellt wurde?
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <h4 style="left: 10%;position: absolute;bottom: 20%">Kindsmutter:</h4>
    </mat-grid-tile>
    <mat-radio-group [(ngModel)]="dyslexia_mother">
      <mat-grid-tile colspan="1">
        <mat-radio-button value="yes">Ja</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button value="no">Nein
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>

    <mat-grid-tile colspan="2">
      <h4 style="left: 10%;position: absolute;bottom: 20%"> Kindsvater:</h4>
    </mat-grid-tile>
    <mat-radio-group [(ngModel)]="dyslexia_father">
      <mat-grid-tile colspan="1">
        <mat-radio-button value="yes">Ja</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button value="no">Nein
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>

    <mat-grid-tile colspan="2">
      <h4 style="left: 10%;position: absolute;bottom: 20%">mind. ein Geschwisterkind:</h4>
    </mat-grid-tile>
    <mat-radio-group [(ngModel)]="dyslexia_sibling">
      <mat-grid-tile colspan="1">
        <mat-radio-button value="yes">Ja</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button value="no">Nein
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>

    <mat-grid-tile colspan="2">
      <h4 style="left: 10%;position: absolute;bottom: 20%">mind. ein Großelternteil:</h4>
    </mat-grid-tile>
    <mat-radio-group [(ngModel)]="dyslexia_grandParent">
      <mat-grid-tile colspan="1">
        <mat-radio-button value="yes">Ja</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button value="no">Nein
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>

    <mat-grid-tile colspan="2">
      <h4 style="left: 10%;position: absolute;bottom: 20%">weitere Verwandte:</h4>
    </mat-grid-tile>
    <mat-radio-group [(ngModel)]="dyslexia_otherRelatives">
      <mat-grid-tile colspan="1">
        <mat-radio-button value="yes">Ja</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button value="no">Nein
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>

    <mat-grid-tile colspan="4">
      <h4>Was ist der höchste Bildungsabschluss, den die Eltern erreicht haben?</h4>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <h4 style="left: 10%;position: absolute;">Erziehungsberechtigte Mutter:</h4>
    </mat-grid-tile>

    <mat-radio-group [(ngModel)]="education_mother">
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Hauptschule">Hauptschule</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Lehre">Lehre</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Matura">Matura</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Studium oder Äquivalent">Studium oder Äquivalent
        </mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Sonstige">Sonstige</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
      </mat-grid-tile>
    </mat-radio-group>


    <mat-grid-tile colspan="1" rowspan="2">
      <h4 style="left: 10%;position: absolute;">Erziehungsberechtigter Vater:</h4>
    </mat-grid-tile>
    <mat-radio-group [(ngModel)]="education_father">
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Hauptschule">Hauptschule</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Lehre">Lehre</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Matura">Matura</mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Studium oder Äquivalent">
          Studium oder Äquivalent
        </mat-radio-button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-button style="left: 10%;position: absolute;" value="Sonstige">Sonstige</mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>
    <mat-grid-tile>
        <ion-button [disabled]="!(education_father != 'keine Angabe'
          && education_mother != 'keine Angabe'
          && dyslexia_otherRelatives != ''
          && dyslexia_grandParent != ''
          && dyslexia_sibling != ''
          && dyslexia_mother != ''
          && dyslexia_father != '')"
        (click)="nextPage()" color="success" size="large">Weiter</ion-button>
    </mat-grid-tile>
  </mat-grid-list>
</ion-content>
