<ion-header>
  <ion-toolbar *ngIf="textCounter>0 && textCounter<3 || textCounter>3">
    <ion-title style="width: 50%;margin-top: 5px">Satzebene</ion-title>
    <ion-title style="font-size: 75%;width: 50%;margin-top: 5px; margin-bottom: 5px">
      
    </ion-title>
    <!-- <div *ngIf="false" style=" position: absolute; top: 20%; right: 0%; margin-right: 1%; font-size: 150%" >
      {{getRemainingTime()}}
    </div> -->
    <div style=" position: absolute; top: 20%; width: 75%; right: 0%; margin-right: 1%; text-align: right; font-size: 100%">
      Welcher Satz passt zu dem Bild? Klicke auf den Satz.
      Du kannst jetzt gleich loslegen. Klicke immer auf den Satz, wenn du dich entschieden hast.<br> 
      Wenn die Zeit vorbei ist, dann hört das Spiel automatisch auf.
      </div>
  </ion-toolbar>
  <!--<div class="basic-container">
      <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
  </div>-->
</ion-header>

<ion-content>
  
  <div class="left">
      <mat-grid-list class="grid" cols="1" rowHeight="fit" *ngIf="words && words[wordCount]">
        <div *ngIf="textCounter === 0 || textCounter === 3">
          <mat-grid-tile  *ngIf="textCounter === 0" style="font-size: 130%;">
            Wir machen nun ein Spiel mit Bildern und Sätzen.<br>
            Auf den nächsten Seiten siehst du gleich ein Bild und 4 Sätze.<br>
            Welcher Satz passt zu dem Bild? Klicke auf den Satz.<br>
            <br>
            Probiere es einfach. Es kommen jetzt zwei Beispiele.<br> 
            Wenn du dir bei einem Bild nicht sicher bist, nimm den Satz, der deiner Meinung nach am besten zu dem Bild passt.<br>
            Wenn du Hilfe brauchst, frag noch einmal nach.
          </mat-grid-tile>
          <mat-grid-tile *ngIf="textCounter === 3" style="font-size: 130%;">
            Toll gemacht. Wenn du dich jetzt noch nicht auskennst, dann frag bitte noch einmal nach.<br>
            Keine Fragen mehr? Dann kannst du gleich loslegen.<br>
            Du hast jetzt {{timeLim}} Minuten Zeit für die nächsten Seiten. Wenn die Zeit vorbei ist, dann hört das Spiel automatisch auf.
          </mat-grid-tile>
        </div>  
        <div *ngIf="textCounter > 0 && textCounter < 3 || textCounter > 3">
            <!-- 2.+3. Spalte alle Zeilen Vorgabebild (z.B. Nase) style="width: 18rem; height: 18rem"-->
            <mat-grid-tile rowspan="16" style="border: solid 2px black; border-radius: 10px;">
                <img [src]="words[wordCount].image" alt="" style="height: 90%;">
            </mat-grid-tile>

            <mat-grid-tile *ngFor="let word of words[wordCount].words,let i = index"
                [ngClass]="checkBoxColor[i]" 
                rowspan="5">
                <div
                    (click)="selectAnswer(i)"                   
                    style="font-size: 120%; position: absolute; left: 5px;">
                    {{word}}
                </div>
            </mat-grid-tile>

            <mat-grid-tile rowspan="1"></mat-grid-tile>
          </div>
      </mat-grid-list>
  </div>

  <div class="continue">
    <ion-button size="small" color="dark" style="float:right;" (click)="check()" [disabled]="isDisabled()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>


</ion-content>
