<ion-header>
  <ion-toolbar>
    <ion-title style="width: 50%;margin-top: 5px">Kapitel {{exercise.number}}: {{exercise.title}}</ion-title>
    <ion-title style="font-size: 75%;width: 50%;margin-top: 5px; margin-bottom: 5px">{{getSubtitle()}}</ion-title>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
    <ion-icon *ngIf="counter < 1" (click)="resetAudio()" name="refresh"
              style=" position: absolute; top: 10%; right: 0%; margin-right: 1%"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="isExercise() ? 'exerciseScreenBorder' : 'childScreenBorder'">

  <div class="center">
    <mat-grid-list cols="3" id="grid" rowHeight="fit" style="top: 40%">

      <mat-grid-tile rowspan="2"></mat-grid-tile>
      <mat-grid-tile rowspan="2">
        <ion-button (click)="playAudio()" color="warning" size="large" style="height: 40%; width: 30%;">
          <ion-icon [name]="getPlayIcon()" style="font-size: 450%"></ion-icon>
        </ion-button>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2"></mat-grid-tile>
      <span *ngFor="let item of getCurrentRowExamples(),let i = index">
          <mat-grid-tile [ngClass] = "checkBoxStyles[i]"
                         rowspan="2">
              <img (click)="setSelected(i)" [src]="getPicture(i)">
            </mat-grid-tile>
        </span>
    </mat-grid-list>
  </div>
  <div class="continue">
    <app-last-page-button (Clicked)="lastPage()" [Visible]="counter > 3 && !back"></app-last-page-button>
    <app-next-page-button [Enabled]="nextPageEnabled()" (Clicked)="nextPage()"></app-next-page-button>
  </div>
</ion-content>
