<ion-header>
  <ion-toolbar>
    <ion-title style="width: 50%;margin-top: 5px">Kapitel {{exercise.number}}a: {{exercise.title}}</ion-title>
    <ion-title style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">{{getSubtitle()}}</ion-title>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
    <ion-icon *ngIf="counter < 2" (click)="resetAudio()" name="refresh"
              style=" position: absolute; top: 10%; right: 0%; margin-right: 1%"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'exerciseScreenBorder': counter <= 3, 'childScreenBorder': counter > 3}">

  <div class="center">

    <mat-grid-list class="grid" [cols]="getCurrentColumns()" rowHeight="fit">
      <mat-grid-tile [colspan]="getCurrentColumns()" rowspan="2">
        <img style="width: 25vw; height: auto" [src]="getImage(0)">
      </mat-grid-tile>
      <mat-grid-tile [ngClass]="checkBoxStyles[0]" rowspan="1">
        <img (click)="enterResult(1)" [src]="getImage(1)">
      </mat-grid-tile>

      <mat-grid-tile [ngClass]="checkBoxStyles[1]"
                     rowspan="1">
        <img (click)="enterResult(2)" [src]="getImage(2)">
      </mat-grid-tile>

      <mat-grid-tile [ngClass]="checkBoxStyles[2]"
                     rowspan="1">
        <img (click)="enterResult(3)" [src]="getImage(3)">
      </mat-grid-tile>

      <mat-grid-tile [ngClass]="checkBoxStyles[3]"
                     rowspan="1">
        <img (click)="enterResult(4)" [src]="getImage(4)">
      </mat-grid-tile>
      <span *ngIf="lastExists()">

                <mat-grid-tile
                  [ngClass]="checkBoxStyles[4]"
                  rowspan="1">
                    <img (click)="enterResult(5)" [src]="getImage(5)">
                </mat-grid-tile>
            </span>

    </mat-grid-list>
  </div>

  <div class="continue">
    <app-last-page-button (Clicked)="lastPage()" [Visible]="counter >= 5 && back === false"></app-last-page-button>
    <app-next-page-button (Clicked)="nextPage()" [Enabled]="nextPageAllowed()"></app-next-page-button>
  </div>
</ion-content>
