@import '../exercise.scss';

ion-icon {
  font-size: 300%
}

img {
  width: 15vw;
  height: auto;
}



mat-grid-tile {
  //border: solid 1px grey;
}


.grid {
  height: 75%;
  position: absolute;
  // margin-left: 20%;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

