<ion-header>
  <ion-toolbar>
    <ion-title style="width: 50%;margin-top: 5px">Kapitel {{exercise.number}}a: {{exercise.title}}</ion-title>
    <!-- <ion-title *ngIf="isExercise()===true" style="font-size: 75%;width: 50%;margin-top: 5px;color: #8b0000">Übungsblatt RAN1 vorgeben!</ion-title>
    <ion-title *ngIf="isExercise()===false" style="font-size: 75%;width: 50%;margin-top: 5px;color: #8b0000">Übungsblatt RAN2 vorgeben!</ion-title>
    <ion-title style="color: #8b0000;font-size: 75%;width: 70%;margin-top: 5px;margin-bottom: 5px">Markiere falsch
      benannte und ausgelassene Bilder
    </ion-title> -->
    <ion-button *ngIf="!headline.includes('Übung')" slot="end" (click)="startStop()" size="large" [ngClass]="{'blue' : toggle, 'red': !toggle}"
      style="position: absolute; left: 56%; width: 15%; height: 80%; margin-top: 10%; margin-bottom: 10%;"><span style="font-size: 150%">{{text}}</span>
    </ion-button>
    <span *ngIf="!headline.includes('Übung')" slot="end" style="position: absolute; left: 71%; width: 10%; font-size: 200%">{{this.time}}</span>
    <ion-button *ngIf="!headline.includes('Übung')" slot="end" (click)="reset()" size="large" class="red" [disabled]="timeBegan == null ||timeStopped == null"
      style="position: absolute; left: 83%; width: 15%; height: 80%; margin-top: 10%; margin-bottom: 10%;"><span style="font-size: 150%">Reset</span>
    </ion-button>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="childScreenBorder" padding>
  <app-note [exercise]=exercise [isCardActive]=isCardActive></app-note>


  <div class="center">
    <mat-grid-list class="grid" cols="7" rowHeight="13vw">
      <mat-grid-tile *ngIf="headline.includes('Übung')" [colspan]="1"></mat-grid-tile>
      <mat-grid-tile *ngIf="headline.includes('Übung')" [colspan]="5">
        <mat-grid-list [ngClass]="headline.includes('Übung') ? 'grid' : 'innerGrid'" cols="5" rowHeight="fit">
          <mat-grid-tile *ngFor="let image of currentImages, let i = index">
            <img (click)="chooseImage(i)" src="assets/schnapp/images/{{image}}" style="width: 10vw;">
            <!-- <ion-icon (click)="chooseImage(i)" *ngIf="this.booleanArray[i]" name="close"
                      style="position:absolute;height: 100%;width: 100%;color: red;font-size: auto"></ion-icon> -->
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <!-- <mat-grid-tile *ngIf="!headline.includes('Übung')" [colspan]="1" [rowspan]="1">
        <ion-icon name="arrow-forward"></ion-icon>
      </mat-grid-tile> -->
      <mat-grid-tile *ngIf="!headline.includes('Übung')" [colspan]="6" [rowspan]="5">
        <mat-grid-list [ngClass]="headline.includes('Übung') ? 'grid' : 'innerGrid'" cols="6" rowHeight="11vw">
          <mat-grid-tile *ngFor="let image of currentImages, let i = index">
            <div *ngIf="image === 'icon'">
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
            <div *ngIf="image !== 'icon'">
              <img (click)="chooseImage(i)" src="assets/schnapp/images/{{image}}">
            </div>
            <!-- <ion-icon (click)="chooseImage(i)" *ngIf="this.booleanArray[i]" name="close"
                      style="position:absolute;height: 100%;width: 100%;color: red;font-size: auto"></ion-icon> -->
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!headline.includes('Übung')" [colspan]="1" [rowspan]="4"></mat-grid-tile>
      

      <!-- <mat-grid-tile *ngIf="!headline.includes('Übung')" [colspan]="2" [rowspan]="2"> -->
        <!-- <ion-card class="timeGrid">
          <ion-card-content>
            <ion-button (click)="startStop()" size="large" [ngClass]="{'blue' : toggle, 'red': !toggle}"
              style="float:right;width: 150px;height: 80%; margin-top: 10%; margin-bottom: 10%;"><span style="font-size: 150%">{{text}}</span>
            </ion-button>
            <span style="font-size: 200%">{{this.time}}</span>
            <ion-button (click)="reset()" size="large" class="red"   [disabled]="timeBegan == null ||timeStopped == null"
              style="float:right;width: 150px;height: 80%; margin-top: 10%; margin-bottom: 10%;"><span style="font-size: 150%">Reset</span>
            </ion-button> -->
            <!-- <mat-grid-list 
              style="height: 50%; 
                width: 100%; 
                top:10%; 
                background-color: #dfdfde;
                transform: translate(0%,-50%);" 
              cols="1" rowHeight="fit">
              <mat-grid-tile [rowspan]="4"></mat-grid-tile>
              <mat-grid-tile [rowspan]="4">
                <ion-button (click)="startStop()" size="large" [ngClass]="{'blue' : toggle, 'red': !toggle}"
                            style="float:right;width: 150px;height: 80%; margin-top: 10%; margin-bottom: 10%;"><span style="font-size: 150%">{{text}}</span>
                </ion-button>
              </mat-grid-tile>
              <mat-grid-tile [rowspan]="4">
                <span style="font-size: 200%">{{this.time}}</span>
              </mat-grid-tile>
              <mat-grid-tile [rowspan]="4">
                <ion-button (click)="reset()" size="large" class="red"   [disabled]="timeBegan == null ||timeStopped == null"
                            style="float:right;width: 150px;height: 80%; margin-top: 10%; margin-bottom: 10%;"><span style="font-size: 150%">Reset</span>
                </ion-button>
              </mat-grid-tile>
              <mat-grid-tile [rowspan]="4"></mat-grid-tile>
            </mat-grid-list> -->
          <!-- </ion-card-content>
        </ion-card> -->
        
      <!-- </mat-grid-tile> -->
      <mat-grid-tile *ngIf="!headline.includes('Übung')" [colspan]="1" style="float: right;">
        <div class="continue">
          <ion-button color="success" size="large"  
            [disabled]="!exerciseIsFinished()" 
            (click)="nextPage()"
            style="margin-top: 10%;">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="continue" *ngIf="headline.includes('Übung')">
    <app-next-page-button [Enabled]="isExercise() || exerciseIsFinished()" (Clicked)="nextPage()"></app-next-page-button>
  </div>

</ion-content>
