//  http:// ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.left{
  padding: 5% 0;
  text-align: left;

}

.center{
    padding: 5% 0;
    text-align: center;
}

.continue{
    bottom: 1.25%;
    margin-bottom: 5px;
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
    z-index: 30;
}

mat-grid-tile {
  //border: solid 1px grey;
}

.exerciseScreenBorder{
  --background: #ffea94;
}

.childScreenBorder{
    --background: #ffe37b;
}

.examinerScreenBorder{
    --background: #dfdfde;
}

.result-view {
  --width: 600px;
  --height: 600px;
}
.spf-alert {
    --min-width: 380px !important;
    --height: 260px;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#4b7fd9;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#4b7fd9;
    background-color:#4b7fd9 ;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:#4b7fd9
  }
