<ion-header>
  <ion-toolbar *ngIf="textCounter > 0 && textCounter < 2 || textCounter > 2">
    <ion-title style="width: 50%;margin-top: 5px">Textebene 2</ion-title>
    <ion-title style="font-size: 100%;width: 100%;margin-top: 5px; margin-bottom: 5px">
      Lies den Text. Wähle die Wörter, die am besten in den Text passen.
    </ion-title>
    <div *ngIf="false" style=" position: absolute; top: 20%; right: 0%; margin-right: 1%; font-size: 150%">
      {{getRemainingTime()}}
      </div>
  </ion-toolbar>
  <!--<div class="basic-container">
      <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
  </div>-->
</ion-header>

<ion-content>
  
  <div class="left">
      <mat-grid-list class="grid" cols="1" rowHeight="fit" *ngIf="words && words[wordCount]">
        <div *ngIf="textCounter === 0 || textCounter === 2">
          <mat-grid-tile *ngIf="textCounter === 0" style="font-size: 130%;">
            Wir machen nun ein Spiel mit Texten. In jedem Text sind einige Wörter verschwunden – da sind jetzt Lücken.<br>
            Klicke auf die Lücke, dann siehst du 3 Wörter zur Auswahl. Es passt aber nur eines in den Text.<br>
            Lies den Text. Wähle die Wörter, die am besten in den Text passen.
            <br>
            <br>
            Probiere es einfach. Es kommen jetzt zwei Beispiele. <br>
            Wenn du dir bei einer Lücke nicht sicher bist, nimm das Wort, das deiner Meinung nach am besten passt.<br>
            Wenn du Hilfe brauchst, frag noch einmal nach.
          </mat-grid-tile>
          <mat-grid-tile *ngIf="textCounter === 2" style="font-size: 130%;">
            Toll gemacht. Wenn du dich jetzt noch nicht auskennst, dann frag bitte noch einmal nach.<br>
            Keine Fragen mehr? Dann kannst du gleich loslegen.<br>
            Du hast jetzt 100 Sekunden Zeit für die nächsten Seiten. Wenn die Zeit vorbei ist, dann hört das Spiel automatisch auf.
          </mat-grid-tile>
        </div>  
        <div *ngIf="textCounter > 0 && textCounter < 2 || textCounter > 2">
            <!--
              <mat-grid-tile *ngIf="historyCount===0">
                <table>
                    <tr>
                      <th>Erstes Wort</th>
                      <th>Zweites Wort</th>
                      <th>Drittes Wort</th>
                    </tr>
                    <tr>
                      <td [ngClass]="color[0]" [(ngModel)]="words[0]">{{getColor(0)}}</td>
                      <td [ngClass]="color[1]" [(ngModel)]="words[1]">{{getColor(1)}}</td>
                      <td [ngClass]="color[2]" [(ngModel)]="words[2]">{{getColor(2)}}</td>
                    </tr>
                </table>
              </mat-grid-tile>-->
              <mat-grid-tile rowspan="2">
                <div style="font-size: 130%; border-bottom: 2px black solid;">
                  {{historyTitle[historyCount]}}
                </div>
              </mat-grid-tile>
              <mat-grid-tile rowspan="10">
                <div style="font-size: 130%; position: absolute;top: 0;">
                  <span *ngFor="let part of getHistoryPartsByCount()">
                    {{part.historyPart}}
                    <select *ngIf="part.nextWord > 0" interface="popover" [(ngModel)]="words[part.nextWord-1].selected">
                      <option *ngFor="let word of words[part.nextWord-1].answers">{{word}}</option>
                    </select>
                  </span>
                </div>
              </mat-grid-tile>
          </div>
      </mat-grid-list>
  </div>

  <div class="continue">
    <ion-button size="small" style="float:right;" color="dark" (click)="check()" [disabled]="isDisabled()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>


</ion-content>