<ion-header>
  <ion-toolbar>
    <ion-title style="width: 50%;margin-top: 5px">Kapitel {{exercise.number}}: {{exercise.title}}</ion-title>
    <ion-title style="color: darkred;font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">Das Kind darf den
      Satz nur einmal hören!
    </ion-title>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="examinerScreenBorder" padding>

  <app-note [exercise]=exercise [isCardActive]=isCardActive></app-note>


  <mat-grid-list class="grid" cols="6" rowHeight="fit" style="top:40%">
    <mat-grid-tile colspan="3"></mat-grid-tile>
    <mat-grid-tile style="color: #4b7fd9;;margin-top: 55px"><h2>richtig</h2></mat-grid-tile>
    <mat-grid-tile style="color: #4b7fd9;margin-top:  55px"><h2>falsch</h2></mat-grid-tile>
    <mat-grid-tile style="color: #4b7fd9;margin-top:  55px"><h2>kA</h2></mat-grid-tile>

    <span *ngFor="let sentence of viewLines,let i = index">
        <mat-grid-tile>
          <ion-button (click)="playAudio(i)" color="warning" size="large">
            <ion-icon [name]="i === getPlayIcon() ? 'pause' : 'play'" style="font-size: 325%"></ion-icon>
          </ion-button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2"><h3
          style="left:0%;font-size: 1.8vw; position: absolute; color: gray">{{getItem(i)}}</h3></mat-grid-tile>
          <section>
              <mat-radio-group [(ngModel)]="answers[i]">
                <mat-grid-tile>
                  <mat-radio-button value="correct"></mat-radio-button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-radio-button value="wrong"></mat-radio-button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-radio-button value="noAnswer"></mat-radio-button>
                </mat-grid-tile>
              </mat-radio-group>
            </section>
      </span>
  </mat-grid-list>

  <div class="continue">
    <app-next-page-button (Clicked)="nextPage()" [Enabled]="getIfAllAreSelected()"></app-next-page-button>
  </div>
</ion-content>
