<ion-header>
  <ion-toolbar>
    <ion-title style="width: 70%;margin-top: 5px">Kapitel {{exercise.number}}b: {{exercise.title}}  - unpassende Bilder erkennen
    </ion-title>
    <ion-title style="font-size: 75%;width: 50%;margin-top: 5px;margin-bottom: 5px">{{getSubtitle()}}</ion-title>
    <ion-button [hidden]="!debugMode.checkDebugMode()" color="light" (click)="skipExercise()"  size="medium" style=" position: absolute; top: 20%; right: 40%; margin-right: 1%"> Skip Exercise</ion-button>
    <ion-icon *ngIf="currentItem < 1" (click)="resetAudio()" name="refresh"
              style=" position: absolute; top: 10%; right: 0%; margin-right: 1%"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'exerciseScreenBorder': currentItem <= 1, 'childScreenBorder': currentItem > 1}">

  <app-note [exercise]=exercise [isCardActive]=isCardActive></app-note>


  <div class="center">
    <mat-grid-list class="grid" [cols]="getCurrentColumns()" rowHeight="fit">
      <mat-grid-tile
        *ngFor="let i of getImageIndices()"
        [ngClass]="checkBoxStyles[i-1]">
        <img (click)="enterResult(i)" [src]="getImage(i)">
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="continue">
    <app-last-page-button (Clicked)="lastPage()" [Visible]="currentItem > 2 && this.back === false"></app-last-page-button>
    <app-next-page-button (Clicked)="nextPage()" [Enabled]="nextPageAllowed()"></app-next-page-button>
  </div>

</ion-content>
