@import '../exercise.scss';

ion-icon {
  font-size: 300%
}

img {
  width: 15vw;
  height: auto;
}

.grid {
  height: 40%;
  position: absolute;
  // margin-left: 20%;
  top: 55%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -55%);
}
