<ion-header>
    <ion-toolbar>
        <ion-title style="width: 50%">{{this.data.result?.results[this.data.result.results.length - 1].title}} abgeschlossen</ion-title>
        <ion-icon (click)="changeCardActive()" name="create" style="position: absolute; top: 15%; right: 0%; margin-right: 1% ;font-size: 200%; z-index: 1"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="childScreenBorder" padding>

  <app-note [exercise]=this.data.result?.results[this.data.result.results.length-1] [isCardActive]=isCardActive [data]=data [evaluation]=true></app-note>

  <div class="center" *ngIf="!isCardActive">
    <img alt="SCHNAPP_Logo" src="assets/picture/DracheThumbsUp_komprimiert.png" style="position: absolute; left: 200px; height: 600px;z-index: 1">
    <img src="assets/picture/sprechblase.png" style="position: absolute; left: 570px; height: 200px;z-index: 1">
  </div>

    <div class="continue">
        <app-next-page-button (Clicked)="nextPage()"></app-next-page-button>
    </div>
</ion-content>
